.clearfix {
  *zoom: 1;
}
.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
  line-height: 0;
}
.clearfix:after {
  clear: both;
}
.input-block-level {
  display: block;
  width: 100%;
  min-height: 28px;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
  display: block;
}
audio,
canvas,
video {
  display: inline-block;
}
.lt-ie8 audio,
.lt-ie8 canvas,
.lt-ie8 video {
  display: inline;
  zoom: 1;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
[hidden] {
  display: none;
}
html {
  font-size: 100%;
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}
body {
  margin: 0;
}
p {
  margin: 1em 0;
}
a:focus {
  outline: thin dotted #333;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
a:active,
a:hover {
  outline: 0;
}
sub,
sup {
  position: relative;
  font-size: 75%;
  line-height: 0;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
b,
strong {
  font-weight: bold;
}
small {
  font-size: 80%;
}
dl,
menu,
ol,
ul {
  margin: 1em 0;
}
dd {
  margin: 0 0 0 40px;
}
menu,
ol,
ul {
  padding: 0 0 0 40px;
}
nav ul,
nav ol {
  list-style: none;
  list-style-image: none;
  margin: 0;
  padding: 0;
}
img {
  max-width: 100%;
  vertical-align: middle;
  border: 0;
  -ms-interpolation-mode: bicubic;
}
button,
input,
select,
textarea {
  margin: 0;
  font-family: inherit;
  font-size: 100%;
}
.lt-ie8 button,
.lt-ie8 input,
.lt-ie8 select,
.lt-ie8 textarea {
  vertical-align: middle;
}
button,
input {
  line-height: normal;
}
.lt-ie8 button,
.lt-ie8 input {
  overflow: visible;
}
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}
button[disabled],
input[disabled] {
  cursor: default;
}
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}
.lt-ie8 input[type="checkbox"],
.lt-ie8 input[type="radio"] {
  height: 13px;
  width: 13px;
}
input[type="search"] {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  -webkit-appearance: textfield;
}
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
  padding: 0;
  border: 0;
}
textarea {
  overflow: auto;
  vertical-align: top;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
.row-fluid {
  width: 100%;
  *zoom: 1;
}
.row-fluid:before,
.row-fluid:after {
  display: table;
  content: "";
  line-height: 0;
}
.row-fluid:after {
  clear: both;
}
.row-fluid [class*="span"] {
  display: block;
  width: 100%;
  min-height: 28px;
  float: left;
  margin-left: 2.127659574%;
  *margin-left: 2.0744680846382977%;
}
.row-fluid [class*="span"]:first-child {
  margin-left: 0;
}
.row-fluid .controls-row [class*="span"] + [class*="span"] {
  margin-left: 2.127659574%;
}
.row-fluid .span12 {
  width: 99.99999998999999%;
  *width: 99.94680850063828%;
}
.row-fluid .span11 {
  width: 91.489361693%;
  *width: 91.4361702036383%;
}
.row-fluid .span10 {
  width: 82.97872339599999%;
  *width: 82.92553190663828%;
}
.row-fluid .span9 {
  width: 74.468085099%;
  *width: 74.4148936096383%;
}
.row-fluid .span8 {
  width: 65.95744680199999%;
  *width: 65.90425531263828%;
}
.row-fluid .span7 {
  width: 57.446808505%;
  *width: 57.3936170156383%;
}
.row-fluid .span6 {
  width: 48.93617020799999%;
  *width: 48.88297871863829%;
}
.row-fluid .span5 {
  width: 40.425531911%;
  *width: 40.3723404216383%;
}
.row-fluid .span4 {
  width: 31.914893614%;
  *width: 31.8617021246383%;
}
.row-fluid .span3 {
  width: 23.404255317%;
  *width: 23.3510638276383%;
}
.row-fluid .span2 {
  width: 14.89361702%;
  *width: 14.8404255306383%;
}
.row-fluid .span1 {
  width: 6.382978723%;
  *width: 6.329787233638298%;
}
.row-fluid .offset12 {
  margin-left: 104.25531913799999%;
  *margin-left: 104.14893615927657%;
}
.row-fluid .offset12:first-child {
  margin-left: 102.127659564%;
  *margin-left: 102.02127658527658%;
}
.row-fluid .offset11 {
  margin-left: 95.744680841%;
  *margin-left: 95.63829786227659%;
}
.row-fluid .offset11:first-child {
  margin-left: 93.61702126700001%;
  *margin-left: 93.5106382882766%;
}
.row-fluid .offset10 {
  margin-left: 87.23404254399999%;
  *margin-left: 87.12765956527657%;
}
.row-fluid .offset10:first-child {
  margin-left: 85.10638297%;
  *margin-left: 84.99999999127658%;
}
.row-fluid .offset9 {
  margin-left: 78.723404247%;
  *margin-left: 78.61702126827659%;
}
.row-fluid .offset9:first-child {
  margin-left: 76.59574467300001%;
  *margin-left: 76.4893616942766%;
}
.row-fluid .offset8 {
  margin-left: 70.21276594999999%;
  *margin-left: 70.10638297127657%;
}
.row-fluid .offset8:first-child {
  margin-left: 68.085106376%;
  *margin-left: 67.97872339727658%;
}
.row-fluid .offset7 {
  margin-left: 61.702127653%;
  *margin-left: 61.595744674276595%;
}
.row-fluid .offset7:first-child {
  margin-left: 59.574468079%;
  *margin-left: 59.468085100276596%;
}
.row-fluid .offset6 {
  margin-left: 53.19148935599999%;
  *margin-left: 53.08510637727659%;
}
.row-fluid .offset6:first-child {
  margin-left: 51.06382978199999%;
  *margin-left: 50.95744680327659%;
}
.row-fluid .offset5 {
  margin-left: 44.680851059%;
  *margin-left: 44.574468080276596%;
}
.row-fluid .offset5:first-child {
  margin-left: 42.553191485%;
  *margin-left: 42.4468085062766%;
}
.row-fluid .offset4 {
  margin-left: 36.170212762%;
  *margin-left: 36.063829783276596%;
}
.row-fluid .offset4:first-child {
  margin-left: 34.042553188%;
  *margin-left: 33.9361702092766%;
}
.row-fluid .offset3 {
  margin-left: 27.659574465%;
  *margin-left: 27.553191486276596%;
}
.row-fluid .offset3:first-child {
  margin-left: 25.531914891%;
  *margin-left: 25.425531912276597%;
}
.row-fluid .offset2 {
  margin-left: 19.148936168%;
  *margin-left: 19.042553189276596%;
}
.row-fluid .offset2:first-child {
  margin-left: 17.021276594%;
  *margin-left: 16.914893615276597%;
}
.row-fluid .offset1 {
  margin-left: 10.638297870999999%;
  *margin-left: 10.531914892276596%;
}
.row-fluid .offset1:first-child {
  margin-left: 8.510638297%;
  *margin-left: 8.404255318276597%;
}
::-moz-selection {
  background: #222222;
  color: #ffffff;
  text-shadow: none;
}
::selection {
  background: #222222;
  color: #ffffff;
  text-shadow: none;
}
h1 {
  font-size: 2em;
  margin: 0 0 0.67em;
}
h2 {
  font-size: 1.5em;
  margin: 0 0 0.83em;
}
h3 {
  font-size: 1.17em;
  margin: 0 0 1em;
}
h4 {
  font-size: 1em;
  margin: 0 0 1.33em;
}
h5 {
  font-size: 0.83em;
  margin: 0 0 1.67em;
}
h6 {
  font-size: 0.75em;
  margin: 0 0 2.33em;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.2em;
}
a {
  color: #222222;
}
a:hover {
  color: #222222;
}
abbr[title] {
  border-bottom: 1px dotted;
}
p {
  margin: 0 0 1em;
}
blockquote {
  margin: 1em 40px;
}
.hide-text {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}
.hide-text br {
  display: none;
}
html {
  font: 14px/1.4em sans-serif;
}
body {
  background-color: #be2f33;
}
a {
  text-decoration: none;
}
blockquote:before {
  content: '„';
}
blockquote:after {
  content: '“';
}
.outer-wrapper {
  width: 100%;
  padding: 1em 0 0;
}
.outer-wrapper > .row-fluid {
  width: 940px;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
}
.header {
  padding: 20px 0 0;
  background: #099;
}
.main-nav-inner-item {
  display: inline-block;
  margin: 0 10px 0 0;
}
.lt-ie8 .main-nav-inner-item {
  display: inline;
  zoom: 1;
}
.main-nav-inner-content {
  display: block;
  padding: 5px 10px;
  line-height: 1em;
  background: #a60000;
  border-radius: 3px;
  color: #fff;
}
.main-nav-inner-content:hover {
  background-color: #000;
  color: #fff;
}
.main-section-1 {
  background: url(../images/ticks.png);
}
.main-section-2 {
  background-color: #fff;
}
.aside {
  padding: 10px 0 0;
}
.aside h1 {
  font-size: 1.2em;
}
.footer .inner-wrapper {
  padding: 10px;
  border-top: 2px dashed #a60c00;
  font-size: 85%;
}
