//imports
//-------------------------------------

@import "vars";
@import "mixins";
@import "reset";
@import "preset";


//project specfic code
//-------------------------------------
html {
	font: 14px/1.4em sans-serif;
}

// index page
//-------------------------------------

// example 1
//-------------------------------------

// generic classes
a {
	text-decoration: none;
}

blockquote {
	&:before {
		content: ('„');
	}
	&:after{
		content: ('“');
	}
}

hr {
	border: 1px solid #222;
}


// page setup
.wrapper {
	width: 980px;
	margin: 0 auto 28px;
}
.main-nav-inner-item {
	display: inline-block;
	margin: 0 10px 0 0;
}

.header {
	margin-top: 28px;
}

// section content
.main-nav-inner-content {
	display: inline-block;
	//width: 100px;
	margin: 0 0 28px 0;
	padding: 4px 10px 1px;
	background-color: #222;
	color: #eee;
	//text-shadow: #fff 1px 1px 1px;
	border-radius: 1px;

	&:hover {
		box-shadow: 0px 0px 5px #333;
		color: #fff;
		background-color: #f00;
	}

	&:visited {
		color: #fff;
	}
}

.grid-button {
	text-align: right;
}

.main-section {

	article {
		margin-bottom: 1em;
	}
}

// footer
.footer section {
	padding: 10px;
	border-top: 1px solid #ddd;
	font-size: 85%;
}